/*>>>>>>>>>>>>>>>>>>>>>>detail page<<<<<<<<<<<<<<<<<<<<<*/
#page_header_detail{
    width: 100%;
    margin-bottom:2%;
    border-bottom: dashed 1px;
    padding-bottom: 2%;
    height: 20px;

}

#detail-numbers-right{

    /*width: 40%;*/
    font-style: italic;
    /*color: white;*/
    /*background-color: red;*/
    float: right;
    padding: 5px;
    display: inline-block;

    margin-top: -2%;
}

#detail-numbers-left{
    /*width: 40%;*/
    font-style: italic;
    float: left;
    /*color: white;*/
    /*background-color: red;*/

    padding: 5px;
    display: inline-block;



}
#numbers{
    /*width: 100%;*/
    font-style: italic;
    color: white;
    background-color: red;
    padding: 7px;
    margin-right: 5px;
    display: inline-block;
}
#logo_top100{
    background-color: red;
    width: 300px;
    height: 100px;
}
#logo_top100 img{
    background-color: red;
    width: 300px;
    height: 100px;
}
#detail-liedjeswrap {
    font-size: 17px;
    display: inline;
    /*background-color: blue;*/
    text-decoration: none;
}
#detail-liedjeswrap a{
    text-decoration: none;
    color: black;
}

.detail-numbers{
    /*width: 10%;*/
    padding: 2px;
    margin-left:45%;
    margin-right:45%;
    margin-bottom: 2%;
    margin-top:-30px;
    text-align: center;
    background-color: #ff0000;
    color: white;
}

#detail-songs{

    text-align: center;
    margin-bottom:2%;
}
#form-detailpagina h1{
    border-bottom: dashed;
}
#form-detailpagina p{
    font-weight: bold;

}
#form-detailpagina td{
    font-weight: bold;

}
#form-detailpagina {
    margin-bottom: 2%;

}

textarea{
    width: 700px;
    height: 200px;
    margin: 0;
    padding: 0;
}
input[type=submit] {
    float: right;
    padding:5px 15px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#41564f+49,41564f+49,41564f+49,000000+55 */

    background: linear-gradient(to bottom,  #41564f 49%,#41564f 49%,#41564f 49%,#000000 55%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41564f', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

    color: #ffffff;
    cursor:pointer;
    border-radius: 5px;
}
