#home_text{


}
#speech_bubble{
float: left;
display: inline-block;
    background-color: lightblue;
    padding: 0px 2px 0px 2px;
    margin: 2px;
}
#facebook{
float:right;
    display: inline-block;
    margin: 2px;
}
#twitter{
float: right;
    display: inline-block;
    margin: 2px;
}
#email{
float: right;
    display: inline-block;
    background-color: #808080;
    padding: 0px 2px 0px 2px;
    margin: 2px;

}