html body {
    background: url(../img/beeld.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    height: 100%;   
    width: 98%;
    padding: 0;
    margin: 0;
}

#wrapper{
    margin: 0% 8%;

    background-color: white;
    height: 100%;
    width: 80%;
    padding: 2%;
}
#content{
    width: 78%;
    float: left;

}
.page_title{
    display: inline-block;
    color: red;
    font-size: 20px;
}

.back_today{
    display: inline-block;
    float: right;
    color: #03A9F4;


}
.back_today img{
    height: 100%;
    margin-bottom:-5px; 
}


#sidebar{
    width: 20%;
    float: right;
    height: 100%;
    /*padding-bottom: 5%;*/

}

#sidebar img{
    width: 100%;
    margin-bottom: 5px;

}

#pagination {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 84%;
    height:50px;
    margin:0% 8%;
    background: linear-gradient(orange 5%, yellow 15%, white 80%);
    text-align: center;


}