//colors
$white: white;
$red: red;
$color_cerulean_approx: #03a9f4;
$color_supernova_approx: #f9c70e;
$color_portica_approx: rgba(241,231,103,1);
$black: black;
$color_edward_approx: #a0a6a8;
$gray: grey;
$color_mineral_green_approx: #41564f;
$color_regent_st_blue_approx: lightblue;
$blue: blue;
$color_quill_gray_approx: lightgrey;
$color_chicago_approx: #59575b;
$color_silver_chalice_approx: #aeaeae;
$color_tapa_approx: #717475;


//urls
$url_0: url(../img/beeld.png);
$url_1: url(../img/01.png);

@import "bn";
@import "detailpagina";
@import "footer";
@import "header";
@import "home";
@import "prijsvraag";
@import "top100";
@import "top100wrapper";
@import "overalll";


