html body {
	background: url(../img/beeld.png);
	background-size: cover;
	background-repeat: no-repeat;	
	background-position: fixed;	
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}
	
#wrapper{
	margin: 0% 8%;
	background-color: #FFFF33;
	background-color: white;
	height: 1200px;
	width: 80%;
	padding: 2%;	
}

#header{
    background-color:#FFFF33;
    margin: 0% 8%;
	height: auto;
    width: 84%;

}
#logo{
    width: 20%;
    padding-bottom:25px;
    float: left;

    background-color:#FFFF33;

}
#logo img{
    width: 100%;

}
#radio-number-search{
    float: left;
    width: 30%;

    background-color: #FFFF33;
}
#radio-number-search img{
    margin-top: 25%;
    width: 100%;
    height: 70px;
}
#live-music{
    float: right;
    width: 35%;
    padding-top:50px;
}
#live-music img{
    width: 100%;
    height: 20px;

}
#sidebar{
	width: 20%;
	float: right;
	height: 100%;
	/*padding-bottom: 5%;*/

}

#sidebar img{
	width: 100%;
	margin-bottom: 5px;

}

#padgination{
	width:84%;
	height:30px;
	margin: 0% 8%;
}
/**{
    text-decoration:none;
    margin: 0;
    padding: 0;
}*/
#liedjeswrap {
    display:inline-block;
}
.numbers{
    color:#ffffff;
    background-color: #ff0000;
    
}
#songs{
    border-bottom: dashed;

}
footer{
    margin-top: 10px;
	background-color: darkslategray;
	text-align: center;
	padding: 1%;
	color: white;
	width: 100%;	

}
.footerButton{
	border-left: 1px solid ;
	/*border-right: 1px solid ;	*/
	display: inline-block;
	padding: 0% 2%	;
	color: white;
	text-decoration: none;
}

#copyright{
	display: inline-block;
	padding-right: 2%;
	text-decoration: none;
}

#content{
	width: 78%;
	float: left;

}
#content img{
	width: 100%;
}
#bn{
	width: 100%;
}
#bn img{
	width: 49%;
	margin: 0;
	padding: 0;
	display: inline-block;
}