/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>top100page<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

.songs{
    text-decoration: none;
    margin-left: 60px;
    margin-top: -30px;

}
.numbers-song{
    padding-bottom: 0px;
    border-bottom: dashed;
    padding-top: 4px;

}
#liedjeswrap {
    font-size: 20px;
    /*display: inline;*/
    margin-top: 4%;
    /*text-decoration: none;*/
}
#liedjeswrap a{
    text-decoration: none;
    color: black;
}

#pdf {
    height: 38px;
    float: right;
    color: black
}

#pdf img{
    height: 100%;
}